body {
  color: black;
}

.level1 {
  color: black;
}

.pad-bottom {
  padding-bottom: 200px;
}

.pad-bottom-sm {
  padding-bottom: 50px;
}

.pad-bottom-xs {
  padding-bottom: 15px;
}

.background-light {
  background-color: #f2f2f2;
}

.border-light {
  border-bottom: 1px solid grey;
}

.pad-top {
  padding-top: 20px;
}

.pad-top-xs {
  padding-top: 15px;
}

.right {
  float: right;
}

.max200 {
  max-width: 200px;
}

.contaminated {
  color: red;
}

.bold-panel {
  font-size: 1.5em;
}

.bold-panel h3 {
  text-align: center;
  background-color: #7c3400;
  color: white;
}

.table-hover tbody tr:hover > td {
  cursor: pointer;
}

ul.topnav {
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li:last-child {
  float: right;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.25em;
}

ul.topnav li a:hover {
  background-color: #111;
}

ul.topnav li a.brand {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.75em;
}

ul.topnav li.icon {
  display: none;
}

select:invalid {
  color: #999;
}

@media (max-width: 978px) {

  .container {
    padding: 0;
    margin: 0;
  }
  
  .body {
    padding: 0;
  }

}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon canvas {
  display: block;
}

.horizon .title, .horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.horizon .line {
  background: #000;
  z-index: 2;
}

.rule {
  z-index: 3;
}

.axis {
  font: 10px sans-serif;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 20ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: 000;
  shape-rendering: crispEdges;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}